* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(./second.png);
    background-repeat: no-repeat;
    background-size: cover;

    /* filter: blur(8px); */
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: repeat(2, 1fr);


}

.container {}



.left {
    color: aliceblue;
    margin-left: 122px;
    padding: 117px 0 117px 0;
}

h1 {
    font-family: "Nunito", sans-serif;
    font-size: 55px;
    font-weight: 900;
}

p {
    font-size: small;
}






/* .freetrial {
    background-color: #1971C2;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 11px;
    border-radius: 12px;
} */

.form {
    width: 390px;
    box-shadow: 0 5px #1a010133;
    background-color: #ffffff29;
    padding: 18px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 100px; */
}



.input-items {
    display: flex;
    align-items: center;
}



.form strong {
    margin-left: -254px;
    font-size: 24px;
}

input {

    width: 315px;
    padding: 10px;
    margin: 10px;
    border: 0.5px solid #8080807a;
    border-radius: 7px;
}

input:hover {
    border: 0.5px solid #808080;
}


button {
    width: 331px;
    height: 48px;
    background-color: #2F9E44;
    border: transparent;
    box-shadow: 0 5px #1a010133;
    margin-top: 10px;
    border-radius: 7px;
    color: white;
    text-align: center;
}

button:hover {
    background-color: hsl(154deg 59% 51% / 72%);
    ;
}

.form div {
    color: #808080a1;
    font-size: 8px;
    margin-top: 10px;
    text-align: center;
}

a {
    color: red;
}

.error {
    border: 0.5px solid red;
    background: url('./icon-error.svg') no-repeat;
    background-position: 95% 50%;
}